html, body {
  margin: 0;
  padding: 0;
  background: #000;
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
}

#player-container {
  width: 100vw;
  height: 100vh;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

#error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

#error a {
  color: #ff4444;
  text-decoration: none;
  font-weight: bold;
}